.partners{
	padding: 0 35px;
	position: absolute;
	top: -44px;
	left: 0;
	width: 100%;
	z-index: 1;
	max-height: 98px;
	background: url('../images/partners-bac.png') transparent 50% 50% no-repeat;
	&_wrap{
		padding: 31px 90px 0 95px;
		height: 98px;
		overflow: hidden;
		position: relative;
	}
	&_left{
		cursor: pointer;
		display: block;
		background-image: url('../images/partners-arrows.png');
		position: absolute;
		top: 50%;
		left: 30px;
		width: 35px;
		height: 30px;
		margin-top: -19px;
		opacity: 1;
		&:hover{
			background-position: 0 -40px;
		}
	}
	&_right{
		cursor: pointer;
		display: block;
		background-image: url('../images/partners-arrows.png');
		background-position: -39px 0;
		position: absolute;
		top: 50%;
		right: 30px;
		width: 35px;
		height: 30px;
		margin-top: -19px;
		opacity: 1;
		&:hover{
			background-position: -39px -40px;
		}
	}
}