*{
  box-sizing: border-box;
}
body{
  background: url('../images/bac.png') #d4e0e5;
  color: $color;
  font-size: $fontSize;
  font-family: $font;
  
}
.inner{
  width: $width;
  margin: 0 auto;
}
a{
  text-decoration: underline;
  @include link(#0a5999, #0a5999);
}
h1{
  font-family: days;
  font-size: 20px;
  color: #2c2c30;
  margin: 7px 0 30px 0;
}
h2{
  font-family: benderbold;
  color: #2c2c30;
  font-size: 16px;
  margin: 0 0 21px 0;
}
h3,h4,h5,h6{
  color: #2c2c30;
  font-family: benderbold;
  margin: 0 0 21px 0;
}
p{
  line-height: 17px;
  margin-bottom: 18px;
  .frontpage &{
    margin-bottom: 16px;
  }
}
b, strong{
  font-family: benderbold;
}
i, em{
  font-style: italic;
}
textarea{
  //font-family: $font;
  resize: none;
  box-shadow: none;
  border-radius: 0px;
}
input{
  box-shadow: none;
  border-radius: 0px;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}
::-webkit-input-placeholder {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
:-moz-placeholder {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
::-moz-placeholder {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
:-ms-input-placeholder {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
::-ms-input-placeholder {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
:placeholder-shown {
  //font-family: $font;
  /*color: #434242;
  font-size: 20px;*/
}
.hide{
  display: none;
}